@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.marquee-container {
    overflow: hidden;
    max-width: 768px;
    $gradient: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
    mask-image: $gradient;
    -webkit-mask-image: $gradient;
}

.marquee-track {
    animation: marquee 40s linear infinite;

    &:hover {
        animation-play-state: paused;
    }
}
