.btn {
    font-size: 14px;
    padding-left: 20;
    padding-right: 20;
    height: 40px;
    min-height: 45px;
    border-radius: 50px;
    border-color: var(--custom-border);

    @media screen and (width <=768px) {
        font-size: 12px;
    }

    @apply w-fit px-4 py-2 tracking-wider text-lg;

    &.w-full {
        width: 100% !important;
    }

    &.btn-outline {
        @apply bg-white hover:bg-black hover:text-white !border-gray-200;
    }

    &.btn-primary {
        @apply hover:bg-accent;
    }

    &.btn-accent {
        @apply text-white border-black;

        &:hover {
            @apply bg-black;
        }
    }

    &.btn-lg {
        @apply min-h-[46px] h-[46px] text-[14px];
    }

    &:disabled {
        @apply bg-gray-200 text-black;
    }
}

.container {
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: 1580px) {
        @apply px-12;
    }

    @media only screen and (max-width: 1280px) {
        @apply px-12;
    }

    @media only screen and (max-width: 780px) {
        @apply px-6;
    }

    @media only screen and (max-width: 480px) {
        @apply px-4;
    }
}

.py-container {
    @apply py-24;

    @media only screen and (max-width: 1280px) {
        @apply py-20;
    }

    @media only screen and (max-width: 780px) {
        @apply py-12;
    }

    @media only screen and (max-width: 480px) {
        @apply py-8;
    }
}

.cont {
    @apply flex flex-col;

    &__py {
        @apply py-20;
    }

    &__gap {
        @apply gap-6;
    }

    &__w {
        @apply lg:w-[800px] w-full;
    }
}

.text-link {
    color: #4485f2;
}

.text-6xl {
    line-height: 81px !important;
}

.btn.btn-disabled,
.btn:disabled {
    @apply text-gray-500;
}

.collapse:not(.collapse-close):has(> input[type='radio']:checked) {
    @apply border;

    .collapse-title {
        background-color: #f5f5f5;
        color: #000;
    }
}

.feature_grid {
    background-image: url('/assets/img/program_feature_grid.png');
    background-position: center center;

    .grid-block {
        @apply transition-all duration-200;
        border: 1px solid rgb(135, 135, 135);

        &:hover {
            background: #00000025;
        }
    }
}

//added for access program card on pricing page
.access-program {
    background-image: url('/assets/img/program_feature_grid.png');
    background-position: center center;
    background-size: cover;
}

$button-transition-timing: 100ms;

.link-btn {
    @apply flex items-center gap-1 w-fit;

    .arrow-icon {
        overflow: visible;
        margin-left: 3px;
        width: 8px;
    }

    .arrow-head {
        transform: translateX(0);
        transition: transform $button-transition-timing ease-in-out;
    }

    .arrow-body {
        opacity: 0;
        transform: scaleX(1);
        transition:
            transform $button-transition-timing ease-in-out,
            opacity $button-transition-timing ease-in-out;
    }

    &:hover {

        // color: var(--link-color);
        .arrow-head {
            transform: translateX(3px);
        }

        .arrow-body {
            opacity: 1;
            transform: scaleX(2);
        }
    }

    &.hide-ico {
        .arrow-icon {
            transition: all $button-transition-timing ease-in-out;
            opacity: 0;
        }
    }
}

.LinkButtonCard:hover .link-btn {
    .arrow-head {
        transform: translateX(5px);
    }

    .arrow-body {
        opacity: 1;
        transform: scaleX(3);
    }

    &.hide-ico {
        & .arrow-icon {
            opacity: 1;
        }
    }
}

.feature_block .icon__dark,
.feature_block:hover .icon__light {
    display: block;
}

.feature_block:hover .icon__dark,
.feature_block .icon__light {
    display: none;
}

.modal-box {
    border-radius: 0px !important;
}
