body {
    font-family: 'Inter Tight', serif;
    color: #252525;
    background-color: #FAF9F6;
}

.h1 {
    @apply md:text-6xl text-4xl;
    font-family: 'Inter Tight';
    line-height: 1.1em;
    font-weight: 400;
    color: #222222;

    &__b {
        font-weight: 400;
    }
}

.h2 {
    @apply md:text-3xl text-2xl;
    font-family: 'Inter Tight';
    font-weight: 400;
    font-size: clamp(24px, -3.0704225352px + 9.014084507vw, 38px);
}

.h3 {
    @apply md:text-2xl text-xl;
    font-family: 'Inter Tight';
    font-weight: 400;
    // font-size: clamp(16px, -3.0704225352px + 9.014084507vw, 20px) !important;
}

.sub {
    &__h1 {
        @apply text-xl;
        line-height: 1.2em;
    }
    &__h2 {
        @apply md:text-lg;
        line-height: 1.2em;
    }
}
.font-base {
    font-family: 'Inter Tight', serif;
}

//Text Color
.text-grey {
    color: #8f9396;
}

.h6 {
    @apply text-base;
    font-family: 'Inter Tight';
    font-weight: 400;
}


//new theme -------------------

.heading1 {
    font-size: 36px;
    line-height: 1.15;
    letter-spacing: -0.8px;
    color: var(--black-color);

    @media (min-width: 768px) {
        font-size: 48px;
        line-height: 1.2;
    }

    @media (min-width: 1024px) {
        font-size: 57px;
        line-height: 72px;
        letter-spacing: -1.475px;
    }
}

.heading2 {
    font-size: 28px;
    line-height: 1.1;
    font-weight: 700;
    color: var(--black-color);

    @media (min-width: 768px) {
        font-size: 36px;
    }

    @media (min-width: 1024px) {
        font-size: 42px;
    }
}

.sub-heading1 {
    font-size: 16px;
    line-height: 1.55;
    color: #000000b3;

    @media (min-width: 768px) {
        font-size: 18px;
    }

    @media (min-width: 1024px) {
        font-size: 20px;
        line-height: 30.6px;
    }
}

//sub heading
.sub-heading2 {
    @apply text-base md:text-lg;
    line-height: 1.5;
    color: #000000a6;
}