/** We need custom colors, custom sizes, etc. So, create a class and use this class in all components */

/** Border Colors */
.custom-border {
    border-color: black !important;
}

.border-right-color {
    border-right: 1px solid var(--custom-border) !important;
}

/** Hover classes */

.hover-bg-grey-100-text-black {
    &:hover {
        background-color: var(--background-color-grey-100) !important;
        color: var(--text-color-black) !important;
    }
}

.hover-bg-black-text-white {
    &:hover {
        background-color: var(--background-color-black) !important;
        color: var(--text-color-white) !important;
    }
}