/** We need custom colors, custom sizes, etc. So, create a class and use this class in all components */

/** Border Colors */
.custom-border {
    border-color: var(--custom-border) !important;
}

.border-black {
    border-color: black !important;
}

.flow-border-color {
    border-color: var(--flow-border-color) !important;
}

/** Hover effext for mcp or integrations apps */
.hover-bg-grey-100-text-black {
    &:hover {
        background-color: var(--background-color-grey-100) !important;
        color: var(--text-color-black) !important;
    }
}

.hover-bg-black-text-white {
    &:hover {
        background-color: var(--background-color-black) !important;
        color: var(--text-color-white) !important;
    }
}

.IntegrationsAppComp_app__FN5HL {
    border: 1px solid #e5e7eb !important;

    &:hover {
        color: var(--text-color-black) !important;
        border-color: var(--custom-border) !important;
    }
}

.custom-styles {
    &:hover {
        color: var(--text-color-black) !important;
    }
}

.bg-white {
    background-color: #ffffff !important;
}

.hover-bg-black {
    &:hover {
        background-color: #000000 !important;
        color: white !important;
    }
}

.border-color {
    border: 1px solid #e3e2e2 !important;
    transition: all 0.3s ease-in-out;
}

/** Globally used for scrollbar width */
.scrollbar-thin {
    scrollbar-width: thin !important;
}

/** Globally used for z-index */
.z-index-1 {
    z-index: 1 !important;
}

/** Home page background */
.custom-background-home-page {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: #faf9f6;
    background-image: radial-gradient(circle at center, transparent 30%, #faf9f6 70%),
        radial-gradient(circle, #b3b7bc 1px, transparent 1px);
    background-size:
        100% 100%,
        20px 20px;
    background-position: center, center;
    border-left: 1px solid var(--custom-border);
    border-right: 1px solid var(--custom-border);
    opacity: 0.5;
    // border-bottom: 1px solid var(--custom-border);
}

/** Globally used for dotted background */
.dotted-background {
    background-image: radial-gradient(circle, #d3d3d3 1px, transparent 1px);
    background-size: 16px 16px; /* Adjust the size of the dots */
    background-repeat: repeat;
    background-color: #faf9f6;
}
