/** We need custom colors, custom sizes, etc. So, create a class and use this class in all components */

/** Border Colors */
.transparent-border-black {
    border-color: var(--transparent-border-black) !important;
}

.accent-border-color {
    border-color: #A8200D !important;
}

.border-right-color {
    border-right: 1px solid var(--transparent-border-black) !important;
}