:root {
    --tw-border-opacity: 1;

    /** Border Colors */

    --custom-border: rgb(209 213 219 / var(--tw-border-opacity, 1));
    --accent-border-color: #a8200d;
    --flow-border-color: #84898a;

    /** Background colors */
    --background-color-black: #000000;
    --background-color-white: #ffffff;
    --background-color-grey-100: #f3f4f6;

    /** Text Colors*/
    --text-color-black: #000000;
    --text-color-white: #ffffff;

    /** utility*/
    --u-base: 4px;
}

