:root {
    /** Border Colors */

    --custom-border: #84898a;
    --accent-border-color: #a8200d;
    --flow-border-color: #84898a;
    // --flow-border-color: #000000;


    /** Background colors */
    --background-color-black: #000000;
    --background-color-white: #ffffff;
    --background-color-grey-100: #f3f4f6;

    /** Text Colors*/
    --text-color-black: #000000;
    --text-color-white: #ffffff;
    
    /** utility*/
    --u-base: 4px;
}
