:root {

    /** Border Colors */

    --transparent-border-black: #0000004d;

    /** Background colors */
    --background-color-black: #000000;
    --background-color-white: #ffffff;


    /** Text Colors*/
    --text-color-black: #000000;
    --text-color-white: #ffffff;

}