@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100;200;300;400;500;600;700;800;900&display=swap');

//tailwind imports
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply font-inter-tight;
    }
}

//check import file for imports
@import '_import';

.custom-flow-border {
    position: relative;
}

.custom-flow-border {
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: repeating-linear-gradient(to right,
                var(--flow-border-color) 0px,
                var(--flow-border-color) 10px,
                transparent 10px,
                transparent 20px);
    }
}

.toggle:checked {
    @apply bg-black text-white;
}

.toggle:checked+.font-semibold.text-md {
    @apply text-white;
}

.pagination {
    display: flex;
    @apply gap-3 mx-auto items-center;

    .active {
        @apply bg-slate-300 px-1;
    }
}

.collapse:not(.collapse-close):has(> input[type='radio']:checked) .collapse-title {
    background: none;
}

/** Customized the container padding */
@media screen and (width <=576px) {
    body {
        background: white;

        .home-page-container {
            padding: 0 !important;
        }
    }
}

@media screen and (576px <=width <=992px) {
    body {
        .home-page-container {
            padding: 0 !important;
        }
    }
}

@media screen and (992px <=width <=1200px) {
    body {
        .home-page-container {
            padding: 1rem !important;
        }
    }
}

/** login/signup page **/
.login-container {
    button {
        color: black !important;
        border-color: black !important;
    }

    span {
        color: black !important;
    }

    p {
        color: black !important;
    }
}

/** Custom Login Button */
.loginBtn_google {
    button {
        margin: 0px !important;
        width: 70% !important;
    }
}

/**Using viasocket footer responsive container */
@media screen and (width >=1050px) {
    .rotate-viasocket {
        transform: rotate(270deg);
        font-size: 120px !important;
    }
}

@media screen and (width <=1020px) {
    .viasocket-footer-wrapper {
        padding: 0 !important;
    }
}

/** Using for custom design */
#__next {
    border-left: 1px solid var(--custom-border);
    border-right: 1px solid var(--custom-border);

    /** Using for all btn font size */
    .btn {
        font-size: 14px;
        padding-left: 20;
        padding-right: 20;
        height: 40px;
        min-height: 45px;
        border-radius: 50px;
        border-color: var(--custom-border);

        @media screen and (width <=768px) {
            font-size: 12px;
        }
    }
}

/** Using for ai agent response markdown */
.ai-agent-response {
    h3 {
        @apply md:text-2xl text-xl font-semibold mb-3;
    }

    h4 {
        @apply text-lg font-semibold;
    }

    p {
        margin-bottom: 1rem;
    }
}

//bottom white gradient effect for panel section
.btm-gradient {
    background-image: linear-gradient(#0000, #f4f3f1 44%);
    z-index: 10;
    height: 90px;
    display: block;
    position: absolute;
    inset: auto 0% 0%;
}

/* Rotating Gradient Border for panel section */
@property --angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
}

@keyframes gradientBorder {
    from {
        --angle: 0turn;
    }

    to {
        --angle: 1turn;
    }
}

.border-animation {
    border-radius: 20px;
    padding: 1px;
    border: 1px solid transparent;

    animation: gradientBorder 3s linear infinite;

    background:
        /* inner background behind content */
        linear-gradient(#ffffff, #ffffff) content-box,

        /* animated border */
        conic-gradient(from var(--angle),
            #dcd6e0 0deg,
            #f36fff 53deg,
            #268aff 90deg,
            #52eaea 126deg,
            #dad7dc 178deg,
            #e5e0e9 360deg) border-box;
}

// for t&c and privacy page
.link {
    color: #0000ff !important;
    text-decoration: none !important;
}

.list-type-square {
    list-style-type: square;
}